body
{
    font-family:sans-serif;
    background-color: #f5f7fa;
    color: #333;
    margin: 0;
    padding: 0;
    
}
.box
{
    border: 2px solid #007bff;
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);

}
header
{
    background-color: #007bff;
    color:#b0b2b4;
    text-align: center;
    padding: 30px;
}
h2{
    color: #007bff;
}
footer
{
    background-color: #222;
    color: rgb(118, 115, 115);
    text-align: center;
    padding: 15px;
}